<div class="header-content">
    <button class="menu-btn" (click)="onToggleSidebar()" title="Toggle sidebar">
    <span class="material-symbols-rounded">
      {{ collapsed ? 'menu' : 'menu_open' }}
    </span>
    </button>

    <div class="brand">
        <span class="brand-dot"></span>
        <span class="brand-name">Vivid</span>
    </div>

    <div class="spacer"></div>

    <div class="dept-picker" *ngIf="(departments$ | async) as depts">
        <ng-container *ngIf="depts.length > 1">
            <div class="select-wrapper">
                <span class="material-symbols-rounded select-icon">corporate_fare</span>
                <select #deptSel (change)="selectDepartment(deptSel.value || null)">
                    <option *ngIf="!(selectedDepartmentId$ | async)" value="" selected
                            disabled>{{ 'Select Department' }}
                    </option>
                    <option *ngFor="let d of depts" [value]="d.id"
                            [selected]="(selectedDepartmentId$ | async) === d.id">{{ d.name }}
                    </option>
                </select>
            </div>
        </ng-container>
    </div>

</div>
