<div class="toggle-container">
    @for (option of options(); track option.value) {
        <button
                [vividTooltip]="option.tooltip"
                type="button"
                class="toggle-button"
                [class.active]="value() === option.value"
                (click)="selectOption(option.value)">

            @if (option.icon) {
                <span class="material-symbols-rounded icon">{{ option.icon }}</span>
            }

            <span class="label">{{ option.label }}</span>
        </button>
    }
</div>