<div class="vivid-card" [class.hover]="hoverEffect()">

    <div class="card-header" (click)="toggleCollapsed()" [class.pointer]="collapsable()">
        <div class="title-wrapper">
            <ng-content select="[vivid-card-title]"></ng-content>
            <ng-content select="[vivid-card-subtitle]"></ng-content>
        </div>
        <div class="header-actions">
            <ng-content select="[vivid-card-header-actions]"></ng-content>
        </div>

        @if (collapsable()) {
            <span class="toggle material-symbols-rounded transition"
                  [class.collapsed]="_collapsed()">expand_more</span>
        }
    </div>

    <div class="card-content" [class.collapsed]="_collapsed()">
        <ng-content></ng-content>
    </div>

    <div class="card-footer" [class.collapsed]="_collapsed()">
        <ng-content select="[vivid-card-actions]"></ng-content>
    </div>
</div>