@if (env(); as env) {
    <div class="page-header flex items-center justify-between gap-md">

        <div class="flex items-center gap-md">
            <button class="icon-btn-slim" (click)="back()" [title]="'COMMON.BACK' | translate">
                <span class="material-symbols-rounded">arrow_back</span>
            </button>
        </div>

        <h1 class="page-title text-lg">{{ env.name }}</h1>
    </div>

    <card>
        <h3 vivid-card-title>{{ env.name }}</h3>
        <div class="flex-col gap-sm">
            @if (env.description; as desc) {
                <div class="text-secondary">{{ desc }}</div>
            } @else {
                <div class="no-description text-muted italic">{{ 'ENVIRONMENTS.NO_DESCRIPTION' | translate }}</div>
            }
            <div class="text-xs text-muted">{{ 'COMMON.KEY' | translate }}: <span copyToClipboard class="key">{{ env.key }}</span></div>
        </div>
    </card>

    <card class="mt-md">
        <div vivid-card-title class="flex items-center justify-between">
            <span class="material-symbols-rounded" style="color: var(--accent-danger)">rule_settings</span>
            <span>{{ 'COMMON.RULES' | translate }}</span>
        </div>

        <div class="rules-list flex-col gap-md mt-md">
            @for (rule of env.rules; track $index) {
                <div class="rule-item card bg-tertiary p-md">
                    <span class="rule-name">{{ "ENVIRONMENTS.RULES." + rule.type | translate }}</span>
                    @if (rule.type === 'MATCH_ENVIRONMENT') {
                        <div class="form-group">
                            <label class="text-xs text-muted">{{ 'COMMON.SOURCE_ENVIRONMENT' | translate }}</label>
                            <select class="form-input" [ngModel]="rule.config.sourceEnvironmentId"
                                    (ngModelChange)="updateRuleConfig($index, 'sourceEnvironmentId', $event)">
                                <option value="" disabled>{{ 'COMMON.SELECT_ENVIRONMENT' | translate }}</option>
                                @for (e of availableEnvironments(); track e.id) {
                                    <option [value]="e.id">{{ e.name }}</option>
                                }
                            </select>
                        </div>
                    }

                    <div class="delete-icon flex items-center justify-between mb-sm">
                        <button class="icon-btn-slim danger" (click)="removeRule($index)">
                            <span class="material-symbols-rounded">delete</span>
                        </button>
                    </div>
                </div>
            } @empty {
                <div class="text-secondary text-center p-md italic">{{ 'ENVIRONMENTS.NO_RULES' | translate }}</div>
            }


            <div class="flex items-center gap-sm">
                <select class="form-input text-xs" #ruleType>
                    <option value="MATCH_ENVIRONMENT">{{ 'COMMON.MATCH_ENVIRONMENT' | translate }}</option>
                </select>
                <button class="btn-slim primary" (click)="addRule(ruleType.value)">
                    <span class="material-symbols-rounded">add</span>
                    <span>{{ 'ENVIRONMENTS.ADD_RULE' | translate }}</span>
                </button>
            </div>
        </div>

        <div vivid-card-actions>
            <button class="btn-slim primary" (click)="save()">
                <span class="material-symbols-rounded">save</span>
                <span>{{ 'COMMON.SAVE_CHANGES' | translate }}</span>
            </button>
        </div>
    </card>
} @else {
    <div class="page-header flex items-center justify-between  gap-md">
        <div class="flex items-center gap-md">
            <button class="icon-btn-slim" (click)="back()" [title]="'COMMON.BACK' | translate">
                <span class="material-symbols-rounded">arrow_back</span>
            </button>
        </div>
    </div>

    <app-loading-indicator></app-loading-indicator>
}
